
{% load static %}
<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>

  <header class="site-navbar dark site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center position-relative">

        <div class="col-3">
          <div class="site-logo">
            <a style='color: #4361ee;text-decoration:none; ' href="#"><strong>MonkeyTutor</strong></a>
          </div>
        </div>

        <div class="col-9  text-right">
          
          <span class="d-inline-block d-lg-none"><a href="#" class=" site-menu-toggle js-menu-toggle py-5 "><span class="icon-menu h3 text-black"></span></a></span>

          <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
            <ul class="site-menu main-menu js-clone-nav ml-auto ">
              <li><a href="{% if user.role == 1 %}{% url 'student_homepage' %}{% else %}{% url 'tutor_homepage' %}{% endif %}" class="nav-link">Home</a></li>
              <li><a href="{% if user.role == 1 %}{% url 'assignments' %}{% else %}{% url 'tutor_assignments' %}{% endif %}" class="nav-link">Assignments</a></li>
              <li><a href="testimonials.html" class="nav-link">Tutors</a></li>
              <li><a href="{% if user.role == 1 %}{% url 'profile_settings' %}{% else %}{% url 'tutor_profile_settings' %}{% endif %}" class="nav-link">Profile Settings</a></li>
              <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
              <li><a href="{% url 'logout' %}" class="nav-link">Log Out</a></li>
            </ul>
          </nav>
        </div>

        
      </div>
    </div>

  </header>